.favouriteContainer{
    display: grid;
    grid-template-columns: 2fr 2fr;
    row-gap: 2vh;
}


@media (max-width:790px) {
    .favouriteContainer{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3vh;
    }
    
    
}