@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Raleway:ital,wght@0,400;0,600;0,700;1,400&family=Rampart+One&family=Tourney:wght@700&display=swap');




.title{
    min-height: 25vh;
    max-height: 25vh; 
    min-width: 100%;
    max-width: 100%;

display: grid;
    
    margin-bottom: 2vh;

    overflow: hidden;
    background-color: rgba(0, 0, 0, .25);


}

.titleText{
    font-family: 'Tourney', cursive;
    color:red;

    
    font-size: 6vw;
    margin-bottom: 2vh;
    border-bottom:4px solid red;
    border-top:4px solid red;

}

@media(max-width: 768px){
.titleText{
    font-size: 9vh;
}

}