.buttomContainer{
    margin-bottom: 2vh;
 display: flex;
 min-width:100%;
 justify-content: center;
 gap:3vh;
}

.buttomContainer > button{

    min-height: 2vh;
    background-color: red;
    color:white;
}


@media (max-width:790px) {
    .categoryWrapper{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3vh;
    }
    
    
}